#!/usr/bin/env bash

TMPDIR=$(mktemp -d)
BKPFILE="{{ ansible_fqdn }}.psql.$(date +%Y%m%d-%H%M%S)"
BKPREGEX=$(echo ${BKPFILE} | cut -d '.' -f 2)

chown postgres ${TMPDIR}

pushd ${TMPDIR} > /dev/null

sudo -u postgres /usr/bin/pg_basebackup -D ${TMPDIR}/${BKPFILE} -Ft -X stream -z

mv ${TMPDIR}/${BKPFILE} {{ foreman_backup_dir }}/

find {{ foreman_backup_dir }} -name ${BKPREGEX} -mtime +{{ foreman_backup_retention_days }} -delete 1>&2 > /dev/null

popd ${TMPDIR} > /dev/null

rm -rf ${TMPDIR}

echo {{ foreman_backup_dir }}/{{ ansible_fqdn }}.psql.$(date +%Y%m%d-%H%M%S)
